<div class="container">
    <a href="/resources/create" class="btn btn-primary">Criar nova Tarefa</a>
    <a href="/" class="btn btn-primary">Voltar</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each resources}}
            <tr>
                <th scope="row">{{this.id}}</th>
                <td>{{this.nome}}</td>
                <td>{{this.descricao}}</td>
                <td>
                    <a href="/resources/{{this.id}}" class="btn btn-primary">Mostrar</a>
                    <a href="/resources/{{this.id}}/edit" class="btn btn-secondary">Editar</a>
                    <a href="#" class="btn btn-danger" onclick="deleteResources({{this.id}})">Remover</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<script>
    async function deleteResources(id) {
        if (confirm("Deseja realmente remover?")) {
            const response = await fetch(`/resources/${id}`, {
                method: "DELETE",
                headers: {
                    "X-CSRF-Token": "{{csrfToken}}"
                }
            });
            if (response.redirected) {
                window.location.href = response.url;
            }
        }
    }
</script>
