<div class="container mt-4">
    <div class="mb-3">
        <label for="id-input-id" class="form-label">ID</label>
        <input type="text" id="id-input-id" value="{{resources.id}}" class="form-control" disabled readonly>
    </div>

    <div class="mb-3">
        <label for="id-input-nome" class="form-label">Nome</label>
        <input type="text" id="id-input-nome" value="{{resources.nome}}" class="form-control" disabled readonly>
    </div>

    <div class="mb-3">
        <label for="id-input-descricao" class="form-label">Descrição</label>
        <input type="text" id="id-input-descricao" value="{{resources.descricao}}" class="form-control" disabled readonly>
    </div>

    <div class="mb-3">
        <label for="id-input-dataAtualizacao" class="form-label">Data de Atualização</label>
        <input type="text" id="id-input-dataAtualizacao" value="{{resources.dataAtualizacao}}" class="form-control" disabled readonly>
    </div>

    <div class="mb-3">
        <label for="id-input-dataCriacao" class="form-label">Data de Criação</label>
        <input type="text" id="id-input-dataCriacao" value="{{resources.dataCriacao}}" class="form-control" disabled readonly>
    </div>

    <div class="mt-4">
        <a href="/resources" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Voltar</a>
    </div>
</div>

<script src="https://kit.fontawesome.com/YOUR_KIT_ID.js" crossorigin="anonymous"></script>
