<div class="container">
    <form method="post" action="/usuario/{{usuario.id}}?_method=put" class="mt-4">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">

        <div class="mb-3">
            <label for="id-input-id" class="form-label">ID</label>
            <input type="text" class="form-control" id="id-input-id" value="{{usuario.id}}" disabled readonly>
        </div>

        <div class="mb-3">
            <label for="id-input-email" class="form-label">Email</label>
            <input type="email" class="form-control" id="id-input-email"
                placeholder="Digite o email do usuário. Ex: fulano@gmail.com" value="{{usuario.email}}"
                disabled readonly>
        </div>

        <div class="mb-3">
            <label for="id-input-nome" class="form-label">Nome</label>
            <input type="text" class="form-control" id="id-input-nome"
                placeholder="Digite o nome do usuário. Ex: Fulano" name="nome" value="{{usuario.nome}}" required>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Salvar</button>
            <a href="/usuario" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Voltar</a>
        </div>
    </form>
</div>

<script src="https://kit.fontawesome.com/YOUR_KIT_ID.js" crossorigin="anonymous"></script>
